{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
    .scrollable-container {
        max-height: 550px; /* Set the maximum height you desire */
        overflow-y: auto;
    }
</style>


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Chat App</h4></div>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <div class="chat-screen">

            {% include 'partials/snackbar.html' %}

            <a href="#" class="chat-contact round-button d-inline-block d-lg-none"><i class="icon-menu"></i></a>
            <a href="#" class="chat-profile d-inline-block d-lg-none"><img class="img-fluid  rounded-circle" src="/static/images/team-3.jpg" width="30" alt=""></a>
            <div class="row row-eq-height">
                <div class="col-12 col-lg-4 col-xl-3 mt-lg-3 pr-lg-0">
                    <div class="card border h-100 chat-contact-list">
                        <div class="card-header d-flex justify-content-between align-items-center"> 
                            <ul class="nav nav-tabs" id="tabs-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active font-weight-bold" id="tabs-day-tab" data-toggle="tab" href="#tabs-day" role="tab" aria-controls="tabs-day" aria-selected="true">Chats</a>
                                </li>

                            </ul>
                        </div>

                        <!-- CHATS -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-day" role="tabpanel" aria-labelledby="tabs-day-tab">
                                <div class="scrollable-container">
                                    <ul class="nav flex-column chat-menu" id="myTab" role="tablist">
                                        {% for recipient in recipients %}
                                        <li class="nav-item active px-3">
                                            <a onclick='getChats("{{recipient.pk}}")' class="nav-link online-status green" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">
                                                <div class="media d-block d-flex text-left py-2">
                                                    <img class="img-fluid mr-3 rounded-circle" src="/static/images/author2.jpg" alt="">
                                                    <div class="media-body align-self-center mt-0 color-primary d-flex">
                                                        <div class="message-content">
                                                            <b class="mb-1 font-weight-bold d-flex">{{recipient.full_name}}</b>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>  
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-xl-6 mt-3 pl-lg-0 pr-lg-0">
                    <div class="card border h-100 rounded-0">
                        <div class="card-body p-0">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                    <ul class="nav flex-column chat-menu" id="myTab3" role="tablist">
                                        <li class="nav-item active px-3 px-md-1 px-xl-3">                                               
                                            <div class="media d-block d-flex text-left py-2">
                                                <img class="img-fluid  mr-3 rounded-circle" src="/static/images/author2.jpg" width="54" alt="">
                                                <div class="media-body align-self-center mt-0  d-flex">
                                                    <div class="message-content"> <h6 id="customer_name" class="mb-1 font-weight-bold d-flex">Harry Jones</h6>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>                                               
                                        </li>
                                    </ul>
                                
                                    <div id="chat" class="scrollerchat p-3">   
                                        <ul class="mb-0" id="chat-ul" style="display:flex; flex-direction: column-reverse;">
                                            <!-- CUSTOMER -->
                                            <div class="media d-flex mb-4">
                                                <div class="p-3 ml-auto speech-bubble">
                                                    Hello John, how can I help you today ?
                                                </div>
                                                <div class="ml-4">
                                                    <a href="#"><img src="/static/images/author3.jpg" alt="" class="img-fluid rounded-circle" /></a>
                                                </div>
                                            </div>
                                            <!-- AGENT -->
                                            <div class="media d-flex mb-4">
                                                <div class="mr-4 thumb-img">
                                                    <a href="#"><img src="/static/images/author2.jpg" alt="" class="img-fluid rounded-circle" /></a>
                                                </div>
                                                <div class="p-3 mr-auto speech-bubble alt">
                                                    Hi, I want to buy a new shoes.
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    
                                    <div class="border-top theme-border px-2 py-3 d-flex position-relative chat-box">
                                        <input id="message-input" type="text" class="form-control mr-2" placeholder="Type message here ..." />                                               
                                        <a href="#" id="send-button" onclick="sendMessage()" title="Send" class="p-2 ml-2 rounded line-height-21 bg-primary text-white"><i class="icon-cursor align-middle"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AGENT DETAILS -->
                <div class="col-12 col-lg-4 col-xl-3 mt-lg-3 pl-lg-0">
                    <div class="card border h-100 chat-user-profile">
                        <ul class="nav flex-column">
                            <li class="nav-item active px-3">                                               
                                <div class="media d-block d-flex text-left py-2">                                                   
                                    <div class="media-body align-self-center mt-0  d-flex">
                                        <div class="message-content my-1"> <h6 class="mb-1 font-weight-bold d-flex">{{user.full_name}}</h6>
                                            Lead Web Developer - I can fix anything
                                            <br>
                                        </div>                                                       
                                    </div>
                                </div>                                               
                            </li>
                        </ul> 
                        <img class="img-fluid" src="/static/images/contact-2.jpg" alt="">
                        <div class="px-3 py-4">
                            <b>Display Name</b>
                            <p>{{user.full_name}}</p>
                            <b>Email Address</b>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="d-flex outline-badge-primary border-0 mt-1">
                            <div class="w-50 text-center p-3 border-right"><a href="#" class="font-weight-bold">View Profile <i class="fas fa-arrow-right"></i></a></div>
                            <div class="w-50 text-center p-3"><a href="{% url 'logout' %}" class="text-danger font-weight-bold">Logout <span class="icon-logout"></span></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END: Card DATA-->
    </div>

<script>

    let chatId = null;
    let agentId = null;
    let senderId = null;

    // Getting each customer's chat
    const getChats = (pk) => {
        $.ajax({
            url: '?action=get_chats&pk=' + pk,
            method: 'GET',
            dataType: 'json',
            delay: 250,
            success: function(data) {
                const { chats, customer, ID } = data

                // Getting the Chat ID
                chatId = chats.length > 0 ? chats[0].chat_id : null;
                senderId = parseInt(ID)
                console.log("SENDER ID: ", senderId)
                console.log("Chat ID: ", chatId)
                
                $('#chat-ul').empty();
                $('#message-input').val('');

                let messages = '';

                chats.forEach(chat => {
                    chat.messages.forEach(message => {
                        let messageClass = "";
                        let messageBackground = "";
                        let imgSrc = "";
    
                        if (message.sender_type === 'customer') {
                            // Messages from the customer
                            messageClass = "media d-flex mb-4";
                            messageBackground = "p-3 mr-auto speech-bubble alt";
                            imgSrc = "/static/images/author3.jpg";
                        } else if (message.sender_type === 'agent') {
                            // Messages from the agent
                            messageClass = "media d-flex mb-4";
                            messageBackground = "p-3 ml-auto speech-bubble";
                            imgSrc = "/static/images/author2.jpg";
                        }
                        
                    messages += `
                    <div class="${messageClass}">
                        <div class="${messageBackground}">${message.message}</div>
                    </div>
                `;
                    });
                });

                $('#chat-ul').html(messages)
                $('#customer_name').html(customer);
                ///
                
            }
        });
    };


    // Sending a message using WebSocket
    const protocol = location.protocol == "http:" ? "ws:" : "wss:"
    console.log("PROTOCOL: ", protocol)
    const websocketURL = protocol + '//' + window.location.host + '/ws/chat/' + "mygroup" + '/'
    console.log("WEBSOCKET URL: ", websocketURL)
    console.log("URL: ", location.protocol)
    var chatSocket = new WebSocket(websocketURL);

    chatSocket.onopen = function() {
        console.log('WebSocket connection established.');
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);

        let messageSent = '';
        messageSent += `
            <div class="media d-flex mb-4">
                <div class="p-3 ml-auto speech-bubble">
                    ${data.text}
                </div>
                <div class="ml-4"><a href="#"><img src="/static/images/author3.jpg" alt="" class="img-fluid rounded-circle" /></a></div>
            </div>
        `
        $('#chat-ul').prepend(messageSent);
    }

    chatSocket.onclose = function(e) {
        console.error('WebSocket connection closed.');
    }

    function sendMessage() {
        recipientId = parseInt("{{ request.user.id }}")

        var messageInput = document.getElementById('message-input');
        var textSent = messageInput.value;

        if (textSent === "") {
            showSnackbar('alert alert-danger', '<strong>Error!</strong> Cannot send an empty message.');
        } else {
            
            if (chatSocket.readyState === WebSocket.OPEN) {
                chatSocket.send(JSON.stringify({
                    'chatId': chatId,
                    'senderId': senderId,
                    'recipientId': recipientId,
                    'text': textSent,
                }));
                showSnackbar('alert alert-success', '<strong>Success!</strong> Messsage sent.');
                console.log("TEXT: ",textSent ,"CHAT ID:",chatId ,"SENDER ID:",senderId ,"RECIPIENT ID:",recipientId);
                messageInput.value = '';
            } else {
                showSnackbar('alert alert-danger', '<strong>Error!</strong> Message not sent.');
                console.error('WebSocket connection is not open.');
            }
        }

    var sendButton = document.getElementById('send-button');
    sendButton.addEventListener('click', sendMessage); 
    }

</script>

</main>
<!-- END: Content-->


{% endblock %}